---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "AskExperts";
import ImageContainer from "../../components/ImageContainer.astro";
export async function getStaticPaths() {
  const employeesData = await fetch(
    "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/employees.json"
  ).then((res) => res.json());

  return employeesData.map((employee) => ({
    params: { slug: employee.slug },
  }));
}

const { slug } = Astro.params;

const employeesData = await fetch(
  "https://raw.githubusercontent.com/heyheynic/frontend-design-skoleopgave/main/resources/json/employees.json"
).then((res) => res.json());

const employee = employeesData.find((emp) => emp.slug === slug);
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{employee.name}</h1>
  <p>{employee.description}</p>
  <ImageContainer img={employee.img} altText={employee.name} />
</BaseLayout>
