---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { theme, img, altText} = Astro.props;

// imports imgs from source folder
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}');

// checks if requested img exists
if (!images[`/src/assets/images/${img}`]) {
  throw new Error(`Image "${img}" not found in the assets folder.`);
}

---

<div class="img__container" data-theme={theme}>
   <Image src={images[`/src/assets/images/${img}`]()}alt={altText} format="avif" style={`border-radius: 20px;`} />

</div>



<style>
  .img__container {
    position: relative;
    z-index: 1;
  }

  @layer components {
    [data-theme="decorations"] {
      &::after {
        content: " ";
        position: absolute;
        padding: clamp(4.5rem, 4.3727rem + 1.2364vw, 5.225rem);
        background-color: var(--primary02);
        top: -5%;
        left: -3%;
        border-radius: 20px;
        z-index: -1;
      }

      &::before {
      
        --_square-size: var(--square-size, 1rem);
        --_square-half: calc(var(--square-size) / 2);
        --_square-sum: calc(var(--square-count) * var(--square-size));

        --square-count: 16;
        --square-size: 1rem;
        content: " ";
        position: absolute;

        top: -9.5%;
        left: -7.5%;
        z-index: -2;

        inline-size: calc(
          round(var(--_square-sum), var(--_square-size)) - var(--_square-half)
        );
        aspect-ratio: 1;
        background: linear-gradient(
            135deg,
            #be965d,
            #976f40,
            #c99b61,
            #f0be7b,
            #ffcb85,
            #eebc79,
            #c0935b,
            #976f40
          )
          0 0 / 100% 100%;
        mask:
          var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
          var(--square-pattern) var(--_square-half) var(--_square-half) /
            var(--_square-size) var(--_square-size);
      }
    }
  }
</style>
