---
import { Icon } from "astro-icon/components";
import TitleColored from "./TitleColored.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";


const { employee } = Astro.props;
const { name, description, title, img, theme, slug } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);

if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---

<article transition:animate="fade">
  <a href={`/team/${slug}`} class="active" >
    <ViewTransitions />
    <div class="image__container">
      <Image src={images[img]()} alt={title} />
      <TitleColored titleColor={title} theme={theme} />
    </div>
    <div class="text__area">
      <h4>{name}</h4>
      <p>{description}</p>
    </div>
  </a>
  <div class="socials">
    <a href="">
      <Icon name="instagram" />
    </a>
    <a href="">
      <Icon name="facebook" />
    </a>
    <a href="">
      <Icon name="twitter" />
    </a>
  </div>
</article>

<style>
  article {
    display: grid;
    grid: 1fr / 1fr;
    text-align: center;
    height: fit-content;
    padding: 2em 0;

    .active {
      .image__container {
        display: grid;
        grid: 1fr / 1fr;

        img {
          grid-row: 1;
          grid-column: 1;
          border-radius: 20px;
        }
        > * + * {
          grid-column: 1;
          grid-row: 1;
          place-self: end;
          padding: 1em 0.5em;
        }
      }

      .text__area {
        display: grid;
        grid: 1fr 1fr/ 1fr;
        padding: 1em;
      }
    }

    .socials {
      display: flex;
      place-self: center;
      gap: var(--gap);

      a:hover {
        filter: var(--primary02-svg);
        scale: 1.2;
        transition: 50ms;
      }

      > * {
        width: var( --gap);
border-radius: 100px;
      }
    }

    a:hover {
      scale: 1.01;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transition: 100ms scale ease-out;
      transition-delay: 80ms;
    }
  }
</style>
